<!DOCTYPE html>
<html lang="it">
<head>
<title>Sistema di Prenotazione Carta di Identità Digitale -
	Comune di San Miniato</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css">	
<link href='/calendar/fullcalendar.css' rel='stylesheet' />
<link href='/calendar/fullcalendar.print.css' rel='stylesheet'
	media='print' />
<link
	href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css'>
<link
	href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css'>
<link href='/css/prenotazionicid.css' rel='stylesheet' />
<script src="/calendar/lib/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script
	src="	https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js">	
</script>
	<script
	src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

<script src='/calendar/lib/moment.min.js'></script>
<script src='/calendar/fullcalendar.js'></script>


<script src='/js/prenotazionicid.js'></script>

</head>

<body>
	<div id='script-warning'>
		<code>Connessione Server Assente</code>
	</div>

	<!-- Modal HTML -->



	<div class="container-full">
		<h1>Pannello Amministrativo</h1>
		<h2>Sistema di Prenotazione appuntamenti per la Carta di Identità
			- San Miniato</h2>

		<p>Elenco prossime prenotazioni attive</p>

		<table id="reservationTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>N. Prenotazione</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>E-mail</th>
					<th>Indirizzo</th>
					<th>Data di Nascita</th>
					<th>Telefono</th>
					<th>Prenotazione effettuata il</th>
					<th>DATA PRENOTAZIONE</th>
					<th>ORA PRENOTAZIONE</th>
					<th>Note</th>
				</tr>
			</thead>
		</table>
	</div>
</body>

</html>