<html>

<head>

<title>Contact</title>

</head>

<body>

	<table border="1">

		<tr>

			<th colspan="2">Disponibilità ({{availability.id}})</th>

		</tr>

		<tr>

			<td>Data</td>

			<td>{{availability.Data}}</td>

		</tr>

		<tr>

			<td>Ora</td>

			<td>{{availability.Ora}}</td>

		</tr>


	</table>

</body>

</html>