<!DOCTYPE html>
<html lang="it">
<head>
<title>Sistema di Prenotazione Carta di Identità Digitale -
	Comune di San Miniato</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='/assets/calendar/fullcalendar.css' rel='stylesheet' />
<link href='/assets/calendar/fullcalendar.print.css' rel='stylesheet'
	media='print' />
<link href='/assets/css/prenotazionicid.css' rel='stylesheet' />
<script src="/assets/calendar/lib/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="	https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"> </script>
	
<script src='/assets/calendar/lib/moment.min.js'></script>
<script src='/assets/calendar/fullcalendar.js'></script>
<script src='/assets/js/prenotazionicid.js'></script>

</head>

<body>
	<div id='script-warning'>
		<code>Connessione Server Assente</code>
	</div>

	<!-- Modal HTML -->

	<div id="esitoModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Esito Prenotazione</h4>
				</div>
				<div class="modal-body">
					<div id="msgSubmit" class="h3 text-center hidden"></div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="prenotazioneModale" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Scheda di prenotazione</h4>
				</div>
				<div class="modal-body">

					<form id="schedaprenotazione" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="col-xs-3 control-label">Nome</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" name="nome" required data-error="Il campo NOME è obbligatorio"/>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Cognome</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" name="cognome" required data-error="Il campo COGNOME è obbligatorio"/>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Email</label>
							<div class="col-xs-5">
								<input type="email" class="form-control" name="email" required data-error="Il campo EMAIL è obbligatorio" />
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Luogo di nascita</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" name="luogonascita"
									required data-error="Il campo LUOGO DI NASCITA è obbligatorio"/>
									<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Data di Nascita</label>
							<div class="col-xs-5">
								<input type="date" class="form-control" name="datanascita"
									required data-error="Il campo DATA DI NASCITA è obbligatorio"/>
									<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Telefono</label>
							<div class="col-xs-5">
								<input type="tel" class="form-control" name="telefono" required data-error="Il campo TELEFONO è obbligatorio"/>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-3 control-label">Note</label>
							<div class="col-xs-5">
								<input type="text" class="form-control" name="note" />
							</div>
						</div>



						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-3">
								<button type="submit" class="btn btn-primary">Prenota</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Annulla</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<h1>Sistema di Prenotazione appuntamenti per la Carta di Identità
			Digitale</h1>
		<h2>San Miniato</h2>

		<p>Effettuare la selezione della prenotazione</p>

		<select id="SelezioneUfficio" class="form-control">
			{{#places}}
			<option value={{id}}>{{place}}</option> {{/places}}

		</select>
	</div>
	<div id='loading'>loading...</div>
	<div id='calendar'></div>
</body>

</html>