<!DOCTYPE html>
<html lang="it">
<head>
<title>Sistema di Prenotazione Carta di Identità Digitale -
	Comune di San Miniato</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='/assets/calendar/fullcalendar.css' rel='stylesheet' />
<link href='/assets/calendar/fullcalendar.print.css' rel='stylesheet'
	media='print' />
<script src="/assets/calendar/lib/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='/assets/calendar/lib/moment.min.js'></script>
<script src='/assets/calendar/fullcalendar.js'></script>
<script>
	$(document)
			.ready(
					function() {

						$("#SelezioneUfficio")
								.on(
										'change',
										function() {
											var selected = []
											selected = $('#SelezioneUfficio')
													.val()
											var moment = $('#calendar')
													.fullCalendar('getDate');
											alert("The current date of the calendar is "
													+ moment.format());
											alert(selected);
											$('#calendar').fullCalendar(
													'removeEventSources');
											$('#calendar')
													.fullCalendar(
															{
																events : 'http://localhost:8080/disponibilita?year=2017&month=05&place=1'
															});

											$('#calendar').fullCalendar(
													'refetchEvents');
										});

						$('#calendar').fullCalendar(
								{
									header : {
										left : 'prev,next today',
										center : 'title',
										right : 'month,agendaWeek,agendaDay'
									},									
									editable : true,
									eventLimit : true, // allow "more" link when too many events
									events : [],
									eventClick : function(calEvent, jsEvent,
											view) {

										alert('Event: ' + calEvent.title);
										alert('Coordinates: ' + jsEvent.pageX
												+ ',' + jsEvent.pageY);
										alert('View: ' + view.name);

										// change the border color just for fun
										$(this).css('border-color', 'red');

									},
									dayClick : function(date, jsEvent, view) {

										alert('Clicked on: ' + date.format());

										alert('Coordinates: ' + jsEvent.pageX
												+ ',' + jsEvent.pageY);

										alert('Current view: ' + view.name);

										// change the day's background color just for fun
										$(this).css('background-color', 'red');

									}
								});

					});
</script>
<style>
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}

#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 10px;
}
</style>
</head>

<body>
	<div id='script-warning'>
		<code>Connessione Server Assente</code>
	</div>

	<div class="container">
		<h1>Sistema di Prenotazione appuntamenti per la Carta di Identità
			Digitale</h1>
		<h2>San Miniato</h2>


		<form class="form-horizontal" action="javascript:void(0);">

			<div class="form-group">
				<label class="control-label col-sm-3" for="email">Selezionare
					l'Ufficio desiderato</label>
				<div class="col-sm-9">

					<select id="SelezioneUfficio" class="form-control"> {{#places}}
						<option value={{ID}}>{{place}}</option> {{/places}}

					</select>
				</div>
			</div>

			<div id='calendar'></div>

		</form>
		
	</div>
	<div id='loading'>loading...</div>
	<div id='calendar'></div>
</body>

</html>