<!DOCTYPE html>
<html lang="it">
<head>
<title>Sistema di Prenotazione Carta di Identità Digitale -
	Comune di San Miniato</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='/calendar/fullcalendar.css' rel='stylesheet' />
<link href='/calendar/fullcalendar.print.css' rel='stylesheet'
	media='print' />
<link href='/css/prenotazionicid.css' rel='stylesheet' />
<script src="/calendar/lib/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body>
	<div id='script-warning'>
		<code>Connessione Server Assente</code>
	</div>

	<!-- Modal HTML -->



	<div class="container">
		<h1>ERRORE!</h1>


		<p>Elenco prossime prenotazioni attive</p>

	</div>

</body>

</html>